.highlight {
  background: #313244;
  color: #cdd6f4;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #7f849c;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .addition {
  color: #a6e3a1;
}
.highlight .code .number,
.highlight .code .string,
.highlight .code .meta .meta-string,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .regexp {
  color: #94e2d5;
}
.highlight .code .title,
.highlight .code .section,
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: #89b4fa;
}
.highlight .code .attribute,
.highlight .code .attr,
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .class .title,
.highlight .code .type {
  color: #fab387;
}
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .meta,
.highlight .code .meta .keyword,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .link {
  color: #f38ba8;
}
.highlight .code .built_in,
.highlight .code .deletion {
  color: #cba6f7;
}
.highlight .code .formula {
  background: #181825;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
.highlight .code .function {
  color: #f5c2e7;
}
.highlight .code .params {
  color: #74c7ec;
}
.highlight .code .tag {
  color: #f2cdcd;
}
.highlight .code .property {
  color: #b4befe;
}
