.highlight {
  background: $ctp-surface0;
  color: $ctp-text;
}
.highlight .code .comment,
.highlight .code .quote {
  color: $ctp-overlay1;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .addition {
  color: $ctp-green;
}
.highlight .code .number,
.highlight .code .string,
.highlight .code .meta .meta-string,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .regexp {
  color: $ctp-teal;
}
.highlight .code .title,
.highlight .code .section,
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: $ctp-blue;
}
.highlight .code .attribute,
.highlight .code .attr,
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .class .title,
.highlight .code .type {
  color: $ctp-peach;
}
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .meta,
.highlight .code .meta .keyword,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .link {
  color: $ctp-red;
}
.highlight .code .built_in,
.highlight .code .deletion {
  color: $ctp-mauve;
}
.highlight .code .formula {
  background: $ctp-mantle;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
.highlight .code .function {
  color: $ctp-pink;
}
.highlight .code .params {
  color: $ctp-sapphire;
}
.highlight .code .tag {
  color: $ctp-flamingo;
}
.highlight .code .property {
  color: $ctp-lavender;
}
